@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

header .header-logo {
  width: 100px;
  padding: 40px 0px 0px 50px;
}
@media (max-width: 880px) {
  header .header-logo {
    padding: 25px;
  }
}
header .menu-bottun {
  background-color: red;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  cursor: pointer;
  transition: 0.7s;
}
@media (max-width: 880px) {
  header .menu-bottun {
    height: 75px;
    width: 75px;
  }
}
header .menu-bottun:hover {
  opacity: 0.7;
}
header .menu-bottun div {
  background: white;
  height: 2px;
  width: 50px;
}
@media (max-width: 880px) {
  header .menu-bottun div {
    width: 35px;
  }
}
header .menu-bottun div:nth-of-type(1) {
  position: absolute;
  top: 35%;
  left: 27%;
  transition: 0.3s;
}
header .menu-bottun div:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 27%;
  transition: 0.3s;
}
header .menu-bottun div:nth-of-type(3) {
  position: absolute;
  bottom: 35%;
  left: 27%;
  transition: 0.3s;
}
header .menu-bottun.active div:nth-of-type(1) {
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  top: 48%;
}
header .menu-bottun.active div:nth-of-type(2) {
  opacity: 0;
}
header .menu-bottun.active div:nth-of-type(3) {
  transform: rotate(45deg);
  transform-origin: 50% 50%;
  bottom: 50%;
}
header nav {
  background-color: red;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  z-index: 10;
}
header nav img {
  display: block;
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}
@media (max-width: 880px) {
  header nav img {
    top: 25px;
    left: 25px;
  }
}
header nav .nav-list {
  text-align: center;
  padding-top: 85px;
  text-align: center;
}
@media (max-width: 880px) {
  header nav .nav-list {
    padding-top: 115px;
  }
}
header nav .nav-list ul li {
  padding-bottom: 30px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
header nav .nav-list ul li a {
  color: white;
}
header nav .nav-list .btn {
  color: white;
  border: 1px white solid;
  padding: 20px 50px;
  display: inline-block;
  margin-top: 15px;
  position: relative;
}
header nav .nav-list .btn::after {
  content: "";
  width: 245px;
  padding: 28px 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
header nav.active {
  opacity: 1;
  visibility: visible;
}

main .top-wrapper {
  position: relative;
  height: 720px;
  margin-bottom: 120px;
}
@media (max-width: 880px) {
  main .top-wrapper {
    margin-bottom: 0px;
    height: 570px;
  }
}
main .top-wrapper .top-text {
  position: absolute;
  top: 290px;
  left: 10%;
  z-index: 5;
  padding-top: 20px;
  width: 100%;
}
@media (max-width: 880px) {
  main .top-wrapper .top-text {
    left: 0;
  }
}
main .top-wrapper .top-text p {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 15px;
  text-shadow: 0 4px 6px #fff;
}
@media (max-width: 880px) {
  main .top-wrapper .top-text p {
    font-size: 1.8rem;
    padding-left: 15px;
  }
}
main .top-wrapper .top-text a {
  display: inline-block;
  border: red solid 1px;
  background-color: red;
  color: white;
  font-size: 1.6rem;
  padding: 20px 120px;
  border-radius: 10px;
  border-bottom: #9a0413 solid 5px;
  margin-top: 20px;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 880px) {
  main .top-wrapper .top-text a {
    margin-top: 0px;
    padding: 20px 0;
    width: 95%;
    text-align: center;
    margin-left: 15px;
  }
}
main .top-wrapper .top-text a::after {
  content: "";
  width: 14px;
  height: 14px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 26px;
  right: 30px;
}
main .top-wrapper .top-text a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
main .top-wrapper .mainvisual li {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  animation: fade 15s infinite;
  opacity: 0;
}
main .top-wrapper .mainvisual li:nth-of-type(1) {
  animation-delay: 0s;
}
main .top-wrapper .mainvisual li:nth-of-type(2) {
  animation-delay: 5s;
}
main .top-wrapper .mainvisual li:nth-of-type(3) {
  animation-delay: 10s;
}
main .top-wrapper .mainvisual li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}
@media (max-width: 880px) {
  main .top-wrapper .mainvisual li {
    width: 100%;
  }
}
main .top-wrapper .mainvisual li img {
  width: 100%;
  height: 730px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 880px) {
  main .top-wrapper .mainvisual li img {
    height: 300px;
  }
}

main .reason {
  margin-bottom: 130px;
}
main .reason .reason-contents {
  background-color: red;
  padding: 80px 0;
}
main .reason .reason-contents .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #fff;
  padding: 5% 0;
}
@media (max-width: 880px) {
  main .reason .reason-contents .slide {
    width: 98%;
  }
}
main .reason .reason-contents .slide .slide-icon {
  height: 60px;
}
main .reason .reason-contents .slide .slide-text {
  padding-left: 30px;
}
main .reason .reason-contents .slide .slide-text h2 {
  font-size: 1.7rem;
  color: red;
  letter-spacing: 0.1rem;
  padding-bottom: 10px;
}
@media (max-width: 880px) {
  main .reason .reason-contents .slide .slide-text h2 {
    font-size: 1.6rem;
  }
}
main .reason .reason-contents .slide .slide-text p {
  letter-spacing: 0.1rem;
}
main .reason .reason-contents .slide-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 50px;
  opacity: 0;
  transition: 0.9s;
}
main .reason .reason-contents .active-left {
  animation: slide-left 0.5s ease-out forwards 0.3s;
}
@keyframes slide-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
main .reason .reason-contents .slide-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  opacity: 0;
  transition: 0.9s;
}
main .reason .reason-contents .active-right {
  animation: slide-right 0.5s ease-out forwards 0.3s;
}
@keyframes slide-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}
@media (max-width: 880px) {
  @keyframes slide-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(3%);
      opacity: 1;
    }
  }
}

main .voice {
  margin-bottom: 50px;
}
main .voice .voice-contents .voice-left, main .voice .voice-contents .voice-right {
  display: flex;
  padding-bottom: 80px;
  opacity: 0;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-left, main .voice .voice-contents .voice-right {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 40px;
  }
}
main .voice .voice-contents .voice-left .voice-icon img, main .voice .voice-contents .voice-right .voice-icon img {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  border-radius: 50%;
}
main .voice .voice-contents .voice-left .voice-icon p, main .voice .voice-contents .voice-right .voice-icon p {
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding-top: 5px;
}
main .voice .voice-contents .voice-left .voice-text, main .voice .voice-contents .voice-right .voice-text {
  background-color: #e9f1fb;
  border-radius: 15px;
  width: 55%;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-left .voice-text, main .voice .voice-contents .voice-right .voice-text {
    width: 92%;
    text-align: center;
  }
}
main .voice .voice-contents .voice-left .voice-text p, main .voice .voice-contents .voice-right .voice-text p {
  letter-spacing: 0.2rem;
  line-height: 1.5rem;
}
main .voice .voice-contents .scale {
  animation: scale 0.7s 0.2s forwards;
}
@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
main .voice .voice-contents .voice-left .voice-icon {
  padding-right: 25px;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-left .voice-icon {
    padding-right: 0;
    padding-top: 10px;
  }
}
main .voice .voice-contents .voice-left .voice-text::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  margin-left: -30px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-left .voice-text::before {
    top: 100%;
    border: 15px solid transparent;
    border-top: 15px solid #e9f1fb;
    margin-left: calc(50% - 15px);
  }
}
main .voice .voice-contents .voice-right {
  justify-content: flex-end;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-right {
    flex-direction: column;
  }
}
main .voice .voice-contents .voice-right .voice-icon {
  padding-left: 25px;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-right .voice-icon {
    padding-left: 0;
    padding-top: 10px;
  }
}
main .voice .voice-contents .voice-right .voice-text::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 0;
  margin-right: -30px;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}
@media (max-width: 880px) {
  main .voice .voice-contents .voice-right .voice-text::before {
    top: 100%;
    border: 15px solid transparent;
    border-top: 15px solid #e9f1fb;
    margin-right: calc(50% - 15px);
  }
}

main .overview {
  background-image: url(image/bg.gif);
  padding-top: 80px;
  padding-bottom: 20px;
  animation: fall 10s infinite linear;
}
@keyframes fall {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700px 700px;
  }
}
main .overview .overview-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 880px) {
  main .overview .overview-contents {
    flex-direction: column;
    align-items: center;
  }
}
main .overview .overview-contents .box {
  width: 48%;
  padding: 60px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
}
@media (max-width: 880px) {
  main .overview .overview-contents .box {
    width: 96%;
    padding: 30px;
  }
}
main .overview .overview-contents .box h2 {
  font-size: 1.8rem;
  padding-bottom: 20px;
  text-align: center;
}
@media (max-width: 880px) {
  main .overview .overview-contents .box h2 {
    font-size: 1.6rem;
  }
}
main .overview .overview-contents .box h3 {
  font-size: 1.2rem;
  padding-bottom: 30px;
  text-align: center;
}
@media (max-width: 880px) {
  main .overview .overview-contents .box h3 {
    font-size: 1.1rem;
  }
}
main .overview .overview-contents .box p {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

main .form {
  padding: 120px 0;
  text-align: center;
}
@media (max-width: 880px) {
  main .form {
    padding: 80px 0;
  }
}
main .form h1 {
  font-size: 2rem;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
}
@media (max-width: 880px) {
  main .form h1 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    padding-bottom: 10px;
  }
}
main .form p {
  padding-bottom: 40px;
  letter-spacing: 0.2rem;
}
@media (max-width: 880px) {
  main .form p {
    line-height: 1.5rem;
  }
}
main .form a {
  display: inline-block;
  color: #fff;
  font-size: 1.7rem;
  padding: 25px 290px;
  background-color: red;
  border-radius: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: 0.3s;
}
@media (max-width: 880px) {
  main .form a {
    font-size: 1.4rem;
    padding: 25px 0;
    width: 100%;
  }
}
main .form a:hover {
  background-color: #fff;
  color: red;
  border: red 3px solid;
}

footer {
  background-color: #e8e8e8;
  padding: 70px 0 10px 0;
}
@media (max-width: 880px) {
  footer {
    padding-left: 20px;
  }
}
footer .footer-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
@media (max-width: 880px) {
  footer .footer-list {
    flex-wrap: wrap;
  }
}
@media (max-width: 880px) {
  footer .footer-list li {
    width: 50%;
    padding-bottom: 30px;
  }
}
footer .footer-list li dl dt {
  font-weight: bold;
  padding-bottom: 20px;
}
footer .footer-list li dl dd {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 1px;
}
@media (max-width: 880px) {
  footer .footer-list li dl dd {
    font-size: 0.8rem;
  }
}
footer .footer-list li dl dd a {
  color: #333;
  transition: 0.5s;
}
footer .footer-list li dl dd a:hover {
  opacity: 0.7;
}
footer .footer-icon {
  font-size: 0.5rem;
  text-align: center;
  letter-spacing: 1px;
}
footer .footer-icon span {
  padding-right: 5px;
}

body {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.heading {
  font-size: 2.25rem;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}
@media (max-width: 880px) {
  .heading {
    font-size: 1.9rem;
    margin-bottom: 70px;
  }
}
.heading::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .heading::after {
    width: 80px;
  }
}

.container {
  margin: 0 auto;
  max-width: 865px;
  padding: 0 15px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */