@import"reset";
@import"header";
@import"top-wrapper";
@import"reason";
@import"voice";
@import"overview";
@import"form";
@import"footer";

body{
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.heading{
  font-size: 2.25rem;
  text-align: center;
  position: relative;
  margin-bottom: 100px;

  @media (max-width:880px) {
    font-size: 1.9rem;
    margin-bottom: 70px;         
  }

  &::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;

    @media (max-width:880px) {
      width: 80px;       
    }
  }
}

.container{
  margin: 0 auto;
  max-width: 865px;
  padding: 0 15px;
  margin: 0 auto;
}