.concept{
  margin-bottom: 70px;
  h4{
    width: 55%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.05rem;
    line-height: 1.7;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 60px;
    @media screen and(max-width:880px){
      width: 100%;
      font-size: 20px;
    }
  }

  .concept-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    p{
      width: 40%;
      font-size: 16px;
      letter-spacing: 0.8px;
      line-height: 1.9;
      font-weight: bold;
      margin-top: 47px;
    }

    img{
      width: 40%;
    }

    @media screen and(max-width:880px){
      display: block;

      p{
        width: 100%;
        margin-bottom: 30px;
      }

      img{
        width: 100%;
      }
    }
  }
}