.main{
    padding-bottom: 170px;
    padding-top: 80px;

    h3{
        @include heading;
    }

    .contents{
        max-width: 600px;

        p{
            line-height: 1.7rem;
            font-size: .9rem;
            padding-bottom: 30px;
        }
    }
}