.access{
  margin-bottom: 500px;
  position: relative;
  z-index: 2;

  @media screen and (max-width:880px){
    margin-bottom: 300px;
  }

  .access-contents{
    h3{
      font-size: 1.5rem;
      padding-bottom: 20px;
    }

    p{
      padding-bottom: 20px;
      font-size: 0.8rem;
      line-height: 1.3rem;
    }

    a{
      border: 1px solid #fff;
      padding: 20px 80px;
      font-size: 0.8rem;
      display: inline-block;
      transition: .3s;

      &:hover{
        background-color: black;
      }
    }
  }
}