@media(max-width:820px){
    .top-wrapper{
        display: block;
        height: 100%;
    }

    .mainvisual{
        width: 100%;
    }

    .mainvisual img{
        height: 100%;
        object-position: top;
    }

    .contents{
        width: 100%;
    }

    .btn-wrapper{
        padding-top: 10px;
    }
}