.contact{
  background-color: #F2F2F2;
  padding: 60px 0 120px 0;

  @media screen and(max-width:768px){
    padding: 40px 0 80px 0; 

    @media screen and(max-width:375px){
      padding: 40px 0;
    }
  }

  .section-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contents-left{
      width: 40%;

      .contact-contents{
        p{
          font-size: 16px;
          line-height: 2;
          margin-bottom: 30px;
          color: #333333;
        }
      }
    }

    .contents-right{
      width: 53%;

      img{
        width: 100%;
      }
    }

    @media screen and(max-width:768px){
      flex-direction: column-reverse;
      align-items: flex-start;

      .contents-left, .contents-right{
        width: 68%;

        @media screen and(max-width:375px){
          width: 100%;
        }
      }

      .contents-right{
        margin-bottom: 30px;
      }
    }
  }
}