.about-wrapper {
    margin-bottom: 150px;

    @media (max-width:750px) {
        margin-bottom: 70px;
    }

    .container {
        padding: 0;
        text-align: center;
    }

    .top-image {
        @include top-image(about);

        .heading {
            @include heading;
        }
    }

    .menu {
        @include menufont;
    }

    .text-contents {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        max-width: 920px;
        margin: 0 auto;
        line-height: 30px;
        font-size: 0.9rem;
        text-align: left;

        @media (max-width:750px) {
            display: block;
            .text2{
                padding-bottom: 30px;
            }
        }

        .text-left {
            padding-right: 30px;

            @media (max-width:750px) {
                padding-right: 0;
            }

            .text1 {
                padding-bottom: 30px;
            }
        }

        .text3 {
            padding-bottom: 30px;
        }
    }

    .btn {
        width: 160px;
        height: 50px;
        line-height: 3.5;
        display: inline-block;
        color: #000;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        margin-top: 60px;

        a{
            color: black;
            font-size: 0.8rem;
        }

        &::before {
            width: 2px;
            height: 50%;
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            background: #e03131;
            transition: all 0.3s ease;
        }

        &::after {
            width: 20%;
            height: 2px;
            position: absolute;
            content: "";
            right: 0;
            bottom: 0;
            background: #e03131;
            transition: all 0.3s ease;
        }

        span {
            &::before {
                width: 2px;
                height: 50%;
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                background: #e03131;
                transition: all 0.3s ease;
            }

            &::after {
                width: 20%;
                height: 2px;
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                background: #e03131;
                transition: all 0.3s ease;
            }
        }
    }
}