@media(max-width:580px){
    .contents{
        padding-top: 15px;
    }
    
    .bicycles{
        display: block!important;
    }

    .about-contents{
        flex-direction: column;
    }

    .bicycle{
        width: 100%!important;
        padding-bottom: 30px;
    }
}