/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




.container{
    max-width: 880px;
    padding:0 4%;
    margin: 0 auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    font-size: 14px;
}

li:hover{
    opacity: 0.6;
}

header{
    height: 60px;
}

.header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header-logo{
    float: left;
}

.header-logo img{
    width: 120px;
    height: 40px;

}

.header-list ul{
    float: right;
}

.header-list li{
    float: left;
    margin-left: 25px;
}

.top-wrapper img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.heading{
    border-bottom: black solid 1px;
    display: inline-block;
    margin-bottom: 60px;
    padding-top: 85px;
    padding-bottom: 10px;
    font-size: 32px;
}

.about-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-contents img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.contents{
    width: 400px;
    text-align: left;
    padding-left: 25px;
}

.contents h2{
    padding-bottom: 15px;
}

.contents p{
    font-size: 14px;
    line-height: 22px;
}

.bicycles{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.bicycle{
    padding-right: 20px;
    width: 33.333333%;
}

.bicycle img{
    width: 100%;
}

.bicycle h2{
    padding: 20px 0;
}

.bicycle p{
    font-size: 14px;
}

footer{
    padding: 15px 0;
}

footer p{
    font-size: 10px;
}