@import"scss/reset";
@import"scss/header";
@import"scss/videoarea";
@import"scss/pickup";
@import"scss/feature";
@import"scss/contact";

.section-title{
  font-size: 2.2rem;
  padding-bottom: 40px;
  text-align: center;
}

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}