.company{
  margin-bottom: 120px;
  
  .section-inner{
    dl{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      border-top: 1px solid #DDDDDD;
      margin-bottom: 40px;

      dt, dd{
        font-size: 16px;
        letter-spacing: 0.006em;
        border-bottom: 1px solid #DDDDDD;
        padding: 20px 0; 
      }

      dt{
        font-weight: bold;
        width: 13%;
        margin-left: 27%;
      }

      dd{
        width: 60%;
      }
    }

    iframe{
      width: 100%;
    }
  }
}