.vision{
  margin-left: 21%;
  margin-bottom: 120px;
  h3{
    font-size: 24px;
    letter-spacing: 0.005px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  p{
    line-height: 2;
    font-size: 16px;
    color: #333333;
  }
}