@charset "UTF-8";
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90px;
}

header .header-inner {
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-inner .header-left {
  width: 260px;
}

@media screen and (max-width: 768px) {
  header .header-inner .header-left {
    width: 189px;
  }
}

header .header-inner .header-left img {
  width: 100%;
}

header .header-inner .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 102;
}

header .header-inner .header-right .menu-button {
  width: 22px;
  height: 10px;
  position: relative;
  padding-right: 7px;
  cursor: pointer;
}

header .header-inner .header-right .menu-button div {
  width: 22px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .header-inner .header-right .menu-button div:nth-child(1) {
  top: 0;
}

header .header-inner .header-right .menu-button div:nth-child(2) {
  top: 50%;
}

header .header-inner .header-right .menu-button div:nth-child(3) {
  top: 100%;
}

header .header-inner .header-right .menu-button.active div:nth-child(1) {
  top: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

header .header-inner .header-right .menu-button.active div:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

header .header-inner .header-right .menu-button.active div:nth-child(3) {
  top: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

header .header-inner .header-right h3 {
  color: #fff;
  font-size: 10px;
  padding-left: 7px;
}

header nav {
  width: 36%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 101;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

header nav ul li {
  text-align: center;
}

header nav ul li:first-child a {
  color: #000;
  font-size: 55px;
  font-weight: bold;
  position: relative;
}

header nav ul li:first-child a::after {
  content: "";
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 3px;
  bottom: 0;
  z-index: -1;
}

header nav ul li:not(:last-child) {
  margin-bottom: 30px;
}

header nav ul li a {
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.03rem;
  font-weight: bold;
}

header nav.active {
  opacity: .95;
  visibility: visible;
  right: 0;
}

header .mask {
  width: 100vw;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

header .mask.active {
  opacity: .6;
  visibility: visible;
}

.top-wrapper {
  position: relative;
  height: 464px;
  margin-bottom: 120px;
}

@media screen and (max-width: ‘768px’) {
  .top-wrapper {
    height: 615px;
  }
}

.top-wrapper img {
  width: 76%;
  height: 83%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-wrapper .bg-black {
  height: 100%;
  width: 54%;
  background-color: #222222;
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -1;
}

.top-wrapper .heading {
  position: absolute;
  top: 34%;
  right: 13%;
}

.top-wrapper .heading .heading-small {
  margin-bottom: 10px;
}

.top-wrapper .heading .heading-small h2 {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  font-weight: bold;
}

.top-wrapper .heading .heading-small h2:nth-child(1) {
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .top-wrapper .heading .heading-small h2 {
    font-size: 16px;
    letter-spacing: 0.063px;
    line-height: .6;
  }
}

.top-wrapper .heading .heading-big h1 {
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .top-wrapper .heading .heading-big h1 {
    font-size: 56px;
    letter-spacing: 0.063px;
    line-height: 1;
  }
}

.form {
  margin: 120px 0;
}

.form p {
  font-size: 16px;
  letter-spacing: 0.004rem;
  line-height: 1.5;
  margin-bottom: 54px;
}

.form form dl dt {
  font-size: 16px;
  letter-spacing: 0.004rem;
  margin-bottom: 10px;
}

.form form dl dt span {
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: 0.004rem;
  padding: 3px 5px;
  margin-left: 15px;
}

.form form dl dt:last-of-type {
  font-weight: bold;
}

.form form dl dd {
  margin-bottom: 45px;
}

.form form dl dd ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form form dl dd ul li input[type="radio"] {
  accent-color: #000;
}

.form form dl dd ul li:not(:last-child) {
  margin-right: 50px;
}

.form form dl dd input[type="text"], .form form dl dd [type="tel"], .form form dl dd [type="email"] {
  width: 100%;
  height: 41px;
}

.form form dl dd textarea {
  width: 100%;
}

.form form dl dd .privacy {
  height: 252px;
  overflow-y: scroll;
  border: 1px solid #333333;
  padding: 10px;
}

.form form dl dd .privacy p {
  font: 16px;
  letter-spacing: 0.004rem;
  line-height: 1.5;
}

.form form .check {
  text-align: center;
  margin-bottom: 43px;
}

.form form .check label {
  font-size: 16px;
  letter-spacing: 0.004rem;
}

.form form button {
  display: block;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.015rem;
  padding: 11px 66px;
  cursor: pointer;
  margin: 0 auto;
}

footer {
  background-color: #525252;
  padding: 20px 0;
}

footer .footer-inner p {
  font-size: 10px;
  letter-spacing: 0.015rem;
  color: #fff;
  text-align: center;
}

footer .footer-inner p span {
  font-size: 15px;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.form-inner {
  max-width: 700px;
  margin: 0 auto;
}

@media screen and (max-width: ‘768px’) {
  .form-inner {
    padding: 0 30px;
  }
}

.section-title {
  font-size: 32px;
  letter-spacing: 0.068px;
  font-weight: bold;
  margin-bottom: 30px;
}

.btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  letter-spacing: .015px;
  padding: 11px 0;
  width: 160px;
}
/*# sourceMappingURL=style.css.map */