.contact{
  .container{
    @include container;
    .contact__form{
      width: 65%;
      margin-left: auto;

      .pageTitle{
        @include pageTitle;
      }
  
      .wpcf7{
        p{
          font-size: 14px;
          margin-bottom: 40px;
        }
  
        input ,textarea{
          width: 100%;
          padding: 10px;
          margin-top: 10px;
          color: #000;
        }
  
        input[type="submit"]{
          display: block;
          width: 200px;
          color: #000;
          margin: 0 auto;
          cursor: pointer;
          transition: .3s;
          &:hover{
            transform: translateY(-2px);
          }
        }
      }
    }
  }

  @include mq(sp){
    .container{
      .contact__form{
        width: 100%;
        .pageTitle{
          margin-bottom: 20px;
        }
      }
    }
  }
}