.drawer{
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 12;
    transform: translateY(-100%);
    transition: .7s;

  .drawer__inner{
    padding: 150px 250px 150px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .drawer__list{
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      line-height: 1.3;

      .drawer__term{
        width: 20%;
        margin-bottom: 30px;
      }

      .drawer__description{
        width: 80%;
        margin-bottom: 30px;
      }
    }

    .drawer__img{
      width: 120px;
      border-radius: 50%;
    }
  }

  &.active{
    transform: translateY(0%);
  }

  @include mq(sp){
    display: none;
  }
}