.pageAbout{
  .container{
    .pageTitle{
      @include pageTitle;
    }

    .pageAbout__contents{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .pageAbout__img{
        width: 120px;
        border-radius: 50%;
        margin-bottom: 100px;
      }

      .pageAbout__list{
        font-size: 12px;
        line-height: 1.3;

        .pageAbout__term{
          width: 100%;
          margin-bottom: 15px;
        }

        .pageAbout__description{
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }

  @include mq(tab){
    display: none;
  }
}