.price{
  .pageTitle{
    @include pageTitle;
  }
  &__content{
    width: 65%;
    margin-left: auto;
  }
  &__list{
    margin-bottom: 60px;
  }
  &__term, &__description{
    font-size: 14px;
    padding: 30px 20px;
    border-bottom: 1px solid #ccc;
  }
  &__term{
    width: 80%;
    float: left;
  }
  &__note{
    font-size: 14px;
    position: relative;
    padding-left: 14px;
    line-height: 1.8;
    &::before{
      content: "*";
      display: block;
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
  @include mq(sp){
    &__content{
      width: 100%;
      .pageTitle{
        margin-bottom: 20px;
      }
    }
    &__list{
      margin-bottom: 20px;
    }
    &__term{
      width: 70%;
      float: left;
    }
    &__term, &__description{
      padding: 20px 10px;
    }
  }
}