.single{
  .container{
    .single__blog{
      width: 65%;
      max-width: 800px;
      margin-left: auto;

      &__item{
        margin-bottom: 100px;
        opacity: 0;
        transform: translateY(50px);
        transition: .9s;
        visibility: hidden;

        img{
          width: 100%;
          height: auto;
          margin-bottom: 40px;
        }

        &__text{
          font-size: 12px;
          line-height: 1.8;

          .blog__title{
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 40px;
          }

          .blog__time{
            display: block;
            margin-top: 40px;
            text-align: right;
          }
        }
      }
    }
  }
  
  @include mq(sp){
    .container{
      .single__blog{
        width: 100%;
      }
    }
  }
}